doctype html
html(lang="en")
    head
        meta(cherset="utf-8")
        meta(name="description", content="My Resume")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Bassem Zaki - Resume
        include includes/styles.pug
    body
        header
            .container
                .row
                    .col-12.order-12.col-sm-12.order-sm-12.col-md-6.order-md-1
                        .myImg-box
                            img(id="myImg" class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                    .col-12.order-1.col-sm-12.order-sm-1.col-md-6.order-md-12d.d-flex.align-items-center
                        .hd-indfo
                            h1 Hello, I'm
                                span Bassem Zaki
                                | Front-End Developer
                            p This is my Resume "Scroll Down"
                        
        // Personal Information
        
        .per-info
            .container
                h2.text-center Personal Information
                .row
                    .col-12.col-md-6
                        .introduceChat
                            .boxImgChat
                                img(class="img-fluid", src="img/introduceChat.png", alt="introduce Chat")
                            p.boxIntroChat Name?
                        .meChat
                            .boxImgChat
                                img(class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                            p.boxMeChat Bassem Mohamed Elsayed Zaki
                        .introduceChat
                            .boxImgChat
                                img(class="img-fluid", src="img/introduceChat.png", alt="introduce Chat")
                            p.boxIntroChat Date of Birth?
                        .meChat
                            .boxImgChat
                                img(class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                            p.boxMeChat 30/10/1991
                        .introduceChat
                            .boxImgChat
                                img(class="img-fluid", src="img/introduceChat.png", alt="introduce Chat")
                            p.boxIntroChat Address?
                        .meChat
                            .boxImgChat
                                img(class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                            p.boxMeChat Shoubra, Cairo, Egypt
                          
                    .col-12.col-md-6
                        .introduceChat
                            .boxImgChat
                                img(class="img-fluid", src="img/introduceChat.png", alt="introduce Chat")
                            p.boxIntroChat Military status?
                        .meChat
                            .boxImgChat
                                img(class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                            p.boxMeChat Completed
                        .introduceChat
                            .boxImgChat
                                img(class="img-fluid", src="img/introduceChat.png", alt="introduce Chat")
                            p.boxIntroChat E-mail?
                        .meChat
                            .boxImgChat
                                img(class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                            p.boxMeChat bassemzaki1@hotmail.com
                        .introduceChat
                            .boxImgChat
                                img(class="img-fluid", src="img/introduceChat.png", alt="introduce Chat")
                            p.boxIntroChat Mobile?
                        .meChat
                            .boxImgChat
                                img(class="img-fluid", src="img/Bassem-Zaki.png", alt="Bassem Zaki")
                            p.boxMeChat 01288226986 "Recommended to contact"
        // Education
        .study
            .container-fluid
                .row
                    .col-12.col-md-6
                        .box-study
                            h2.text-center Education
                            .as-study
                                p Institute:
                            .an-study.ml-auto
                                span Sheraton Academy
                            .as-study
                                p Faculty:
                            .an-study.ml-auto
                                span Management Information Systems (MIS)
                    .col-12.col-md-6
                        img(class="img-fluid", src="img/9047156.jpg", alt="University")
        
        // My Skills
        
        .mySkills
            .container
                h2.text-center My Skills
                .row
                    .col-6
                        h3 HTML5
                    .col-6
                        h3 Pug.js
                    .col-6
                        h3 Css3
                    .col-6
                        h3 Sass - Scss
                    .col-12.col-md-6.col-lg-4
                        h3 Bootstrap
                    .col-12.col-md-6.col-lg-4
                        h3 Media Queries
                    .col-12.col-md-6.col-lg-4
                        h3 Json
                    .col-12.col-lg-4
                        h3 Javascript
                    .col-12.col-lg-4
                        h3 Javascript HTML DOM
                    .col-12.col-md-6.col-lg-4
                        h3 Javascript Bom
                    .col-6.col-md-6.col-lg-4
                        h3 jQuery
                    .col-6.col-md-6.col-lg-4
                        h3 Ajax
                    .col-12.col-md-6.col-lg-4
                        h3 Vue.js
                    .col-12.col-md-6.col-lg-4
                        h3 Webpack
                    .col-12.col-md-6.col-lg-4
                        h3 ES6 - ECMAScript 6
                    .col-12.col-md-6.col-lg-4
                        h3 Gulp.js
                    .col-12
                        h3 Responsive website with pixel perfect 
                    .col-12
                        h3 Customize WordPress
                    .col-6
                        h3 Photoshop
                    .col-6
                        h3 Illustrator
                        
        // Languages
         
        .languages
            .container
                h2.text-center Languages
                .row
                    .col-10.offset-1.col-md-6.offset-md-0
                        .box-lang
                            p Arabic: Excellent
                    .col-10.offset-1.col-md-6.offset-md-0
                        .box-lang
                            p English: Good
                            
        // Experience
                            
        .myExp
            .container-fluid
                .row
                    .col-12.order-12.col-md-6.order-md-1
                        .boxExp
                            img(class="img-fluid" src="img/c9ea9851346.jpg" alt="Experience & Courses")
                    .col-12.order-1.col-md-6.order-md-12
                        .expDel
                            h2.text-center My Experience & Courses
                            p More than a year experience at Front-End Developer at Freelancer
                            p Professional Diploma in Web Design at YAT Center

                        
        // Hobbies
                        
        .hobbies
            .container
                h2.text-center Hobbies
                .row
                    .col-6.col-lg-3
                        .box-hobbie
                            img(class="img-fluid" src="img/travel1.png" alt="Travel")
                            h3 Travel
                    .col-6.col-lg-3
                        .box-hobbie
                            img(class="img-fluid" src="img/parachute1.png" alt="Skydiving")
                            h3 Skydiving
                    .col-6.col-lg-3
                        .box-hobbie
                            img(class="img-fluid" src="img/reading1.png" alt="Reading")
                            h3 Reading
                    .col-6.col-lg-3
                        .box-hobbie
                            img(class="img-fluid" src="img/programming1.png" alt="Programming")
                            h3 Code
                            
        // Soft Skills
        
        .softSkills
            .container
                h2.text-center Soft Skills
                .row
                    .col
                        ul
                            li I always learn and research new technologies
                            li Time Management
                            li Ability to Work Under Pressure
                            li Self-learning
                            li Good Communication Skills
                            li Creativity
                            li Teamwork
        
        include includes/scripts.pug
